:root {
  --bg: rgb(134, 35, 55);
  --primary: #bd934f;
  --p: rgba(192, 192, 192, 0.747);
}
* {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  text-decoration: none;
  font-style: none;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: cursive;
  text-transform: capitalize;
  background-color: rgb(34, 34, 34);
}
.font-brush {
  font-family: "Alex Brush", cursive;
}
.container {
  width: 100%;
}
.navbar {
  display: flex;
  border-bottom: 3px solid black;
  justify-content: space-between;
  align-items: center;
  background-color: var(--bg);
  padding: 0.7em 5%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}
.navbar a {
  color: white;
}
.first-name {
  color: #efe9e1;
  font-size: 5rem;
  font-weight: 700;
  color: var(--primary);
}
.last-name {
  font-size: 2.8rem;
}
.navbar-nav a {
  color: white;
  margin: 0 1rem;
  display: inline-block;
  position: relative;
  top: 0.3em;
  font-size: 1.3rem;
  padding: 0.9em;
}
.navbar-nav a:hover {
  color: var(--primary);
  transition: 0.3s ease-in-out;
  text-shadow: 3px 3px 7px black;
}
.navbar-nav a::after {
  content: "";
  display: block;
  padding-bottom: 0.3em;
  border-bottom: 0.2em solid white;
  transform: scaleX(0);
  transition: 0.2s linear;
}
.navbar-nav a:hover::after {
  transform: scaleX(0.6);
  transition: 0.3s ease-in-out;
}
.navbar-ekstra a {
  padding: 1.5em;
  font-size: 1.3rem;
}
.navbar-ekstra a:hover {
  color: var(--primary);
  transition: 0.3s ease-in-out;
}
#hamburger-menu {
  display: none;
}
.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-image: url("../assets/header-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.hero::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 30%;
  bottom: 0;
  background: linear-gradient(
    0deg,
    rgba(1, 1, 3, 1) 8%,
    rgba(225, 225, 225, 0) 50%
  );
}
.hero .content {
  position: absolute;
  top: 13rem;
  padding: 1.4rem 5%; /*7%, agar bertahan ketika layar berubah*/
  max-width: 60rem;
}
.hero h1 {
  color: white;
  font-size: 3.1em;
  text-shadow: 3px 3px 7px black;
}
.hero p {
  font-weight: 550;
  color: var(--primary);
  font-size: 2.9em;
  text-shadow: 3px 3px 2px black;
  line-height: 1.5;
}
.hero .cta {
  display: inline-block;
  background-color: var(--primary);
  margin-top: 0.8em;
  padding: 0.3em 0.4em;
  font-size: 2.5rem;
  color: white;
  font-weight: 800;
  border-radius: 18px;
  text-shadow: 3px 3px 7px black;
  box-shadow: 5px 5px 7px black;
}
.about,
.menu,
.contact {
  padding: 8rem 7% 1.4rem;
  margin-bottom: 3rem;
  color: white;
}
.about h2,
.menu h2,
.contact h2 {
  text-align: center;
  font-size: 2.6rem;
  margin-bottom: 3rem;
}
.about h2 span,
.menu h2 span,
.contact h2 span {
  color: var(--primary);
}
.about .row {
  display: flex;
  gap: 30px;
}
.about .row .about-img {
  display: flex;
  flex: 1 1 40rem;
}
.about .row .about-img img {
  width: 100%;
}
.about .row .content {
  flex: 1 1 35rem;
  padding: 0 1rem;
}
.about .row .content h3 {
  font-size: 2rem;
  margin-bottom: 2rem;
}
.about .row .content p {
  font-weight: 100;
  font-size: 1.6rem;
  line-height: 1.5;
  margin-bottom: 2rem;
  color: var(--p);
}

/* Section Menu */
.menu h2,
.contact h2 {
  margin-bottom: 2rem;
}

.menu p,
.contact p {
  color: var(--p);
  font-size: 1.6rem;
  text-align: center;
  max-width: 45rem;
  line-height: 1.6;
  margin: auto;
  font-weight: 100;
}

/* Card */
.menu .row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 4rem;
}
.menu .row .menu-card {
  text-align: center;
  margin-bottom: 3.8rem;
}
.menu .row .menu-card img {
  border-radius: 50%;
  width: 80%;
}
.menu .row .menu-card .menu-card-title {
  margin: 1rem auto 0.5rem;
}
/* Contact Section */
.contact .row {
  display: flex;
  margin-top: 2rem;
  background-color: black;
}
.contact .row .map {
  flex: 1 1 45rem;
  width: 100%;
  object-fit: cover;
}
.contact .row form {
  flex: 1 1 45rem;
  padding: 5rem 2rem;
  text-align: center;
}
.contact .row form .input-group {
  display: flex;
  align-items: center;
  margin-top: 2rem;
  background: var(--bg);
  border: 1px solid #eee;
  padding-left: 2rem;
}
.contact .row form .input-group input {
  width: 100%;
  padding: 2rem;
  font-size: 1.7rem;
  background: none;
  color: white;
}

.contact .row form .btn {
  display: inline-block;
  margin-top: 3rem;
  padding: 1rem 3rem;
  font-size: 1.7rem;
  color: #fff;
  background-color: var(--primary);
  cursor: pointer;
}

/* Footer */
footer {
  background-color: var(--primary);
  text-align: center;
  padding: 1rem 0 3rem;
  margin-top: 3rem;
}
footer .social {
  padding: 1rem 0;
}
footer .social a {
  color: #fff;
  margin: 1.5rem;
}
footer .social a:hover,
footer .links a:hover {
  color: var(--bg);
}
footer .links {
  margin-bottom: 1.4rem;
}
footer .links a {
  font-size: 1.4rem;
  color: #fff;
  padding: 0.7rem 1rem;
}
footer .credit {
  font-size: 1.1rem;
}
footer .credit a {
  color: var(--bg);
  font-weight: bold;
}

/* responsive */

@media screen and (max-width: 286px) {
  .navbar-ekstra a {
    font-size: 20%;
    width: 1%;
  }
}

/* handphone */
@media screen and (max-width: 600px) {
  html {
    font-size: 38%;
  }
  .contact .row {
    flex-wrap: wrap;
  }
}

/* tablet */
@media screen and (max-width: 768px) {
  .navbar .navbar-nav {
    position: absolute;
    background-color: white;
    width: 30rem;
    height: 100vh;
    top: 104%;
    right: -100%;
  }
  .navbar .navbar-nav a {
    font-size: 2rem;
    display: block;
    color: black;
    padding: 0.5rem;
    margin: 1.5rem;
  }
  .navbar .navbar-nav a::after {
    transform-origin: 0 0;
  }
  .navbar .navbar-nav a:hover::after {
    transform: scaleX(0.2);
  }
  .navbar .navbar-nav a:nth-child(3):hover::after {
    transform: scaleX(0.5);
  }
  .navbar .navbar-nav a:nth-child(4):hover::after {
    transform: scaleX(0.3);
  }

  #hamburger-menu {
    display: inline-block;
  }
  .navbar .navbar-nav.active {
    right: 0;
  }
  .about .row {
    flex-wrap: wrap;
  }
  .about .row .about-img img {
    height: 15rem;
    object-fit: cover; /* agar gambar tidak lonjong */
    object-position: center;
  }
  .about .row .content h3 {
    font-size: 1.9rem;
  }
  .about .row .content p {
    font-size: 1.2rem;
  }
  .contact .row {
    flex-wrap: wrap;
  }
  .contact .row .map {
    height: 30rem;
  }
  .contact .row form {
    padding-top: 0;
  }
}
@media screen and (min-width: 768px) {
  html {
    font-size: 62%;
  }
  .about .row .about-img img {
    object-fit: cover; /* agar gambar tidak lonjong */
    object-position: center;
  }
}

/* laptop */
@media screen and (min-width: 825px) {
  html {
    font-size: 60%;
  }
  .about .row .about-img img {
    object-fit: cover; /* agar gambar tidak lonjong */
    object-position: center;
  }
  .navbar-nav a {
    font-size: 1.6rem;
  }
}
@media screen and (min-width: 1000px) {
  html {
    font-size: 60%;
  }
  .navbar-nav a {
    font-size: 1.9rem;
  }
}

/* laptop */
@media screen and (min-width: 1200px) {
  html {
    font-size: 82%;
  }
}
